<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category</th>
      <th>headline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>137</th>
      <td>TECH</td>
      <td>Facebook Accused Of Reading Texts And Accessing Microphones In Lawsuit</td>
    </tr>
    <tr>
      <th>138</th>
      <td>TECH</td>
      <td>Self-Driving Uber In Fatal Accident Had 6 Seconds To React Before Crash</td>
    </tr>
    <tr>
      <th>155</th>
      <td>SCIENCE</td>
      <td>Scientists Turn To DNA Technology To Search For Loch Ness Monster</td>
    </tr>
    <tr>
      <th>272</th>
      <td>TECH</td>
      <td>Instagram Is Adding A 'Mute' Button For The Sake Of Your Sanity</td>
    </tr>
    <tr>
      <th>285</th>
      <td>SCIENCE</td>
      <td>Unusual Asteroid Could Be An Interstellar Guest To Our Solar System</td>
    </tr>
  </tbody>
</table>